@font-face {
  font-family: 'BalooTamma2';
  src: local('BalooTamma2'), url(./font/BalooTamma2-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: BalooTamma2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}
