.navbar-container {
    height: 48px;
}

.navbar-item-container {
    height: 100%;
    width: 160px;
    position: relative;
    transition: border-bottom-width 0.5s ease-in;
}

.navbar-item {
    color: rgb(108, 117, 125);
    height: 100%;
    width: 160px;
    position: absolute;
    text-transform: uppercase;
}

.navbar-border {
    height: 100%;
    border-bottom-color: #FFF;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    z-index: 10;
}

.navbar-border:hover {
    color: #FFF;
    height: 100%;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    z-index: 100;
}

.navbar-item-container:hover .navbar-border {
    border-bottom-width: 5px;
    transition: border-bottom-width 250ms ease-in-out;
}

.navbar-selected {
    /*border-bottom-width: 5px;
    transition: border-bottom-width 250ms ease-in-out;*/
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline-from-left {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;

    &:before {
         content: "";
         position: absolute;
         z-index: -1;
         left: 0;
         right: 100%;
         bottom: 0;
         background: #2980b9;
         height: 4px;
         -webkit-transition-property: right;
         transition-property: right;
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
         -webkit-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
    }

    &:hover:before {
       right: 0;
    }
}
