.bottom-centered-strip {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
}

.scale-down {
    width: auto;
    height: auto;
    max-width: 150%;
    max-height: 100%;
}
