.adam-image {
    box-shadow: 5px 5px 20px;
    width: 324px;
    height: 243px;
    border-radius: 15px;
}

.text-block {
    margin: 0 20px 0 20px;
    width: 100%;
}

show-only-mobile {
    display: flex;
}

@media (min-width: 836px) {
    .show-only-mobile {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .adam-image {
        margin-bottom: 12px;
    }
}
