body {
  margin: 0;
  // padding-left: 17px;
  width: calc(100vw - 17px);
  font-family: 'Baloo Tamma 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*

@media screen and (min-width: 1058px) {
  body {
    padding-left: 17px;
    width: calc(100vw - 17px);
  }
}
*/

textarea:focus, input:focus, button:focus {
  outline: none;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 836px) {
  h3 {
    font-size: 20px;
  }
}

@import "./AboutMe.scss";
@import "./App.scss";
@import "./HowCanIHelp.scss";
@import "./Intro.scss";
@import "./NavBar.scss";
@import "./Projects.scss";
