

.introTitle {
    font-size: 26px;
}

.MuiBox-root {
    padding: 0 !important;
}

.arrow-icon-container {
    background-color: rgb(108, 117, 125) !important;
}

.arrow-icon {
    color: white;
}

.intro {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.movingDiv {
    width: 100%;
}

.appBar {
    z-index: 100;
}

.drawer {
    width: 240px;
    flex-shrink: 0;
}

.drawerPaper {
    width: 240px;
}

.drawerContainer {
    overflow: auto;
}

.content {
    flex-grow: 1;
    padding: 12px;
}

.headline {
    margin: 5px 10px 5px 10px;
    align-items: center;
    justify-content: center;
}

.tile-container {
    width: 50%;
    min-height: 165px;
}

.mainButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;}

@media (max-width: 768px) {
    .tile-container {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .fluid-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .buttonTile {
        justify-content: center;
    }
}

.App {
    text-align: center;
    background-color: grey;
    color: black;
    height: 100%;
}

.header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.outerTile {
    height: 250px;
}

.innerTile {
    margin: 0;
    padding: 0;
    border-radius: 15px;
    height: 100%;
}

.test {
    padding-top: 15px;
    padding-bottom: 15px;
}

.darkgreen .row {
    background-color: #88C5A1;
}

.green .row {
    background-color: #AFD297;
}

.yellow .row {
    background-color: #E0E293;
}

.red .row {
    background-color: #E1A18E;
}

.lightblue .row {
    background-color: #CCEEFF;
}

.blue .row {
    background-color: #CCDDFF;
}

.dialog-enter {
    transform: translateX(-150px);
    transition: transform 400ms ease-in;
}

.dialog-enter-active {
    transform: translateX(-150px);
    transition: transform 400ms ease-in;
}

.follow-me {
    position: fixed;
    top: calc(50% - (210px / 2));
    left: 0px;
    height: 210px;
}

.media-bar {
    display: flex;
    flex-direction: column;
}

.media-bar-icon {
    margin: 10px;
}
